{% extends  'base.html' %}
{% load static  %}
{% block content %}
<style>
*{
margin:0;
padding:0;
font-family:'Franklin Gothic Medium';
}
body{
	background-image:url("{% static  'home.jpg'%}");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-size: 100% 100%;
}
.wrapper.ten {
    margin-top: 50px;
    background-color: #0e2839;
}
.bounce {
    font-size: 5rem;
    width: 100%;
    margin: 2rem auto;
    display: inline-flex;
    justify-content: center;
    -webkit-box-reflect: below -20px linear-gradient(transparent, #211e1e2e);
}
.bounce span {
    display: inline-flex;
    color: #c7f4ff;
    font-family: "Play", sans-serif;
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%,
    50%,
    100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20px);
    }
}
.ten span:nth-of-type(1) {
    animation-delay: 0.1s;
}
.ten span:nth-of-type(2) {
    animation-delay: 0.2s;
}
.ten span:nth-of-type(3) {
    animation-delay: 0.3s;
}
.ten span:nth-of-type(4) {
    animation-delay: 0.4s;
}
.ten span:nth-of-type(5) {
    animation-delay: 0.5s;
}
.ten span:nth-of-type(6) {
    animation-delay: 0.6s;
}
.ten span:nth-of-type(7) {
    animation-delay: 0.7s;
}
.ten span:nth-of-type(8) {
    animation-delay: 0.8s;
}
.ten span:nth-of-type(9) {
    animation-delay: 0.9s;
}
.ten span:nth-of-type(10) {
    animation-delay: 1s;
}
.ten span:nth-of-type(11) {
    animation-delay: 1.1s;
}
.ten span:nth-of-type(12) {
    animation-delay: 1.2s;
}
.ten span:nth-of-type(13) {
    animation-delay: 1.3s;
}
.ten span:nth-of-type(14) {
    animation-delay: 1.4s;
}
.ten span:nth-of-type(15) {
    animation-delay: 1.5s;
}
.ten span:nth-of-type(16) {
    animation-delay: 1.6s;
}
.ten span:nth-of-type(17) {
    animation-delay: 1.7s;
}
.ten span:nth-of-type(18) {
    animation-delay: 1.8s;
}

</style>
<body>

    <div class="wrapper ten">
        <div>
            <h3 class="bounce">
                <span>C</span>
                <span>O</span>
                <span>L</span>
                <span>L</span>
                <span>A</span>
                <span>G</span>
                <span>E</span>
                <span>-</span>
                <span>M</span>
                <span>G</span>
                <span>T</span>
                <span>-</span>
                <span>S</span>
                <span>Y</span>
                <span>S</span>
                <span>T</span>
                <span>E</span>
                <span>M</span>
            </h3>
        </div>
    </div>
</body>
{% endblock %}