{% extends  'base.html' %}
{% load static %}
{% block content %}
<style>
	*{
	font-family:'Franklin Gothic Medium';	
	}
	body{
		background-image:url("{% static  'image.jpg'%}");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-size: 100% 100%;
	}

	.login{
		width: 25%;
		margin: 70px auto;
		padding: 30px;
		background-color: #fff;
		border-radius: 10px;
		text-align: center;
		box-shadow: 0 20px 35px rgba(0, 0,0,0.5);
	}
	h1{
		font-size: 40px;
		color: #07001f;
		margin-top: 30px;
		margin-bottom: 20px;
	}
	.pass, .email{
		width: 90%;
		padding: 15px 15px;
		margin: 15px 0;
		outline: none;
		border: 1px solid #fff;
		border-radius: 20px;
		background: #e4e4e4;
		font-size: 20px;
	}
	.email{
		border: 1px solid rgb(192, 192, 192);
	}
	
	.pass:focus{
		border: 1px solid rgb(192, 192, 192);
	}
	
	.btnsubmit{
		font-size: 25px;
		margin-top: 25px;
		padding: 15px;
		border-radius: 20px;
		outline: none;
		border: none;
		width: 50%;
		color: #fff;
		cursor: pointer;
		background: rgb(17, 107, 143);	
	} 
	.btnsubmit:hover{
		background: rgba(17, 107, 143, 0.877);
	}
	footer{
		margin-top: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 30px;
	}

</style>
<body>
	<div class="login">
		<h1>Log-in</h1>
		<form action="#" method="post">
		{% csrf_token %}
		<input class="email" type="email" name="un" id="id_un", placeholder="Enter Email" required>
		<input class="pass" type="password" name="pw" id="id_pw" placeholder="Enter Password" required>
		<input class="btnsubmit" type="submit" value="Login">	
		</form>
		<br><br>
		<h2 id="id_msg">{{ msg }}</h2>
	</div>
</body>
<footer>Rohit Baikar-05550224</footer>
{% endblock %}
